<div class="card-place" data-controller='comment-section user-place'>
  <% if place.url_image %>
    <%= image_tag place.url_image, alt: "place's image" %>
  <% end %>
  <div class=card-info>
    <div class="place-data">
      <h2><%= place.name %></h2>
      <p class="address" style="font-style: italic;"><%= place.address %></p>
      <p>
        <% place.average_rating.to_i.times do  %>
          <span class="fa-solid fa-star" style="color: #3698B1"></span>
        <% end %>
      </p>
      <div class="visited-area">
        <%= button_to place_user_places_path(place),
                      data: {
                        turbo_method: :post ,
                        action: "click->user-place#create",
                        trip_id: @trip.id
                      },
                      class: "transparent-button" do %>
          <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault" id="visited-label">Visité</label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-description">
      <%= place.description %>

      <% if place.audio_file %>
        <%= audio_tag place.audio_file, controls: true %>
      <% end %>
    </div>
  </div>
   <i class="fa-solid fa-plus comment-cta"
     data-comment-section-target='button'
     data-action = 'click->comment-section#displayComments'>
  </i>
  <div class="container d-none"
       data-comment-section-target='section'>
     <%= simple_form_for [place, comment], html: {data: {comment_section_target: 'form', action: "submit->comment-section#createComment"}} do |f| %>
        <%= f.input :content, label: 'Enrichissez ce lieu :' %>
        <%= f.submit 'Valider', class: "w-btn-primary" %>
      <% end %>
  <div class="list" data-comment-section-target = 'list'>
    <% comments.each do |c| %>
      <%= render  'shared/comments', comment: c%>
    <% end %>
  </div>
</div>
