<div class="card-place" data-controller='comment-section'>

  <%= image_tag place.url_image, alt: "place's image" %>
  <div class=card-info>
    <div class="place-data">
      <h2><%= place.name %></h2>
      <p class="address" style="font-style: italic;"><%= place.address %></p>
      <p>
        <% place.average_rating.to_i.times do  %>
          <span class="fa-solid fa-star" style="color: #3698B1"></span>
        <% end %>
      </p>
    </div>
    <div class="card-description">
      <%= place.description %>
    </div>
  </div>
  <%# <i class="fa-solid fa-plus"
     data-comment-section-target='button'
     data-action = 'click->comment-section#displayComments'>
  </i>
  <div class="container d-none"
       data-comment-section-target='section'>
    <%= simple_form_for [@place, @comment] do |f|  %>
      <%# <%= f.input :content, label: 'Ajouter un commentaire' %>
      <%# <%= f.submit 'Valider' %>
    <%# <% end %>

    <%# <% @comments.each do |c| %>
      <%# <%= render  'shared/comments', comment: c%>
    <%# <% end %>
</div>
