<div class="trip-container">
  <h1>Balade proposées</h1>
    <div data-controller="display-trip-details">
      <% @searched_trips.each do |trip| %>

          <div class="trip-details-container" data-action="click->display-trip-details#revealContent">

            <div class="trip-title">
              <p><%= trip.name %></p>
            </div>

            <div class="card-trip" data-display-trip-details-target="info">

              <%= image_tag trip.places.first.url_image, alt: "place's image" %>

              <div class="card-trip-infos">
                <div class="infos">
                  <p class="key-figures"><%= trip.places.count %> </p>
                  <p>lieux à visiter</p>
                </div>
                <div class="infos">
                  <p class="key-figures"><%= trip.kms %></p>
                  <p>kms de balade</p>
                </div>
                <div class="infos">
                  <span class="w-tag-badge"><%= trip.category %></span>
                </div>
                <div>
                  <%= link_to("Lancer cette balade", trip_path(trip), class: "w-btn-primary") %>
                </div>
              </div>
            </div>

          </div>

      <% end %>
    </div>
</div>
