<div class="trip-container">
  <h1 class="text-center mb-5">Nos balades</h1>
    <div data-controller="display-trip-details">
      <% @searched_trips.each do |trip| %>

          <div class="trip-details-container" data-action="click->display-trip-details#revealContent" data-display-trip-details-target="container">

            <div class="trip-header">
              <div>
                <%= image_tag trip.places.first.url_image, alt: "place's image" %>
              </div>
              <div class="trip-title">
                <p class="title"><%= trip.name %></p>
                <div class="description-container">
                  <p class="duration"><i class="fa-solid fa-clock"></i> <br> <%= trip.duration %> mn</p>
                  <p class="start"><i class="fa-solid fa-flag-checkered"></i> <br> <%= trip.places.first.address %></p>
                </div>
              </div>
            </div>

            <div class="card-trip" data-display-trip-details-target="info">
                <div>
                  <p class="key-figures"><%= trip.places.count %> </p>
                </div>
                <div>
                  <p class="key-icon"><i class="fa-solid fa-location-dot"></i></p>
                </div>
                <div class="card-badges">
                  <span class="w-tag-badge-trip"><%= trip.category %></span>
                  <%= link_to("C'est parti !", trip_path(trip), class: "w-btn-trip") %>
                </div>
            </div>

          </div>

      <% end %>
    </div>
</div>
