<div class="card-place">
  <%= image_tag @place.url_image, alt: "place's image" %>
  <div>
    <div>
      <h2><%= @place.name %></h2>
      <p><%= @place.address %></p>
      <p>Note : <%= @place.average_rating %></p>
    </div>
    <div>
      <%= @place.description %>
    </div>
  </div>
